<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FoodIstaan</title>
    <meta name="description" content="Delitaste - Food delivery and Restaurant HTML Template" />
    <meta name="author" content="George_Fx">
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/js/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/js/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/flaticon.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>

<style>
    h3 {
        font-size: 30px;
        color: rgb(102, 102, 102);
    }

    .a {
        list-style-type: circle;
    }
    .blog-img{
        height: 350px;
    }
</style>

<body>

    <div class="page-loading">
        <img src="/images/loader.gif" alt="" />
    </div>
    <!--page-loading end-->

    <div class="wrapper">

                <header>
            <div class="container-fluid">
                <div class="header-content d-flex flex-wrap align-items-center">
                    <div class="logo">
                        <a href="/index" title="">
                            <img src="/images/logogo.png" alt="" width="150px">
                        </a>
                    </div>
                    <!--logo end-->
                    <nav>
                        <ul>
                            <li><a class="active" href="/index" title="">Home</a></li>
                            <li><a href="/about" title="">About Us</a></li>
                            <!--
                                                <li><a href="#" title="">Pages</a>
                                                    <ul>
                                                        <li><a href="restaurants.html" title="">Restaurants</a></li>
                                                        <li><a href="restaurant-details.html" title="">Restaurant detail</a></li>
                                                        <li><a href="cart.html" title="">Cart</a></li>
                                                        <li><a href="checkout.html" title="">Checkout</a></li>
                                                        <li><a href="profile.html" title="">My profile</a></li>
                                                        <li><a href="faqs.html" title="">FAQs</a></li>
                                                        <li><a href="testimonials.html" title="">Testimonials</a></li>
                                                        <li><a href="404.html" title="">404</a></li>
                                                    </ul>
                                                </li>
                    -->
                            <li><a href="/blog2">Blogs</a></li>
                            <!--
                                                <li><a href="#" title="">Blog</a>
                                                    <ul>
                                                        <li><a href="blog1.html" title="">Blog 1</a></li>
                                                        <li><a href="blog2.html" title="">Blog 2</a></li>
                                                        <li><a href="blog-single.html" title="">Blog Single</a></li>
                                                    </ul>
                                                </li>
                    -->
                            <li><a href="/contact" title="">Contact Us</a></li>
                        </ul>
                    </nav>
                    <!--navigation end-->
                    <div class="menu-btn">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <span class="bar3"></span>
                    </div>
                    <!--menu-bar end-->
                    <ul class="oth-lnks ml-auto">
                        <li><img src="/images/icons/phone.svg" alt="">+91 80760 05720</li>
                        {{!-- <li><a href="/#" title="" class="search-icon"><img src="/images/icons/search.svg"
                                    alt=""></a>
                        </li>
                        <li><a href="/#" title="" class="cart-ico"><img src="/images/icons/cart.svg" alt=""></a><span
                                class="cart-item-num">0</span></li> --}}
                        <li><a href="/sign-in" title="" class="cart-ico">Sign in <img src="/images/icons/sign-in.svg"
                                    alt=""></a></li>
                    </ul>
                    <!--oth-lnks end-->
                </div>
                <!--header-content end-->
                <div class="search-bar">
                    <div class="container">
                        <form>
                            <input type="text" name="search" placeholder="Search">
                        </form>
                    </div>
                </div>
                <!--search-bar end-->
            </div>
        </header>
        <!--header end-->

        <div class="responsive-mobile-menu">
            <ul>
                <li><a class="active" href="/index" title="">Home</a></li>
                <li><a href="/about" title="">About Us</a></li>
                <li><a href="/blog2" title="">Blogs</a></li>
                <li><a href="/contact" title="">Contact Us</a></li>
            </ul>
        </div>
        <!--responsive-mobile-menu end-->
        <section class="pager-section text-center">
            <div class="fixed-bg bg5"></div>
            <div class="container">
                <div class="pager-head">
                    <h2>The History of Indian Street food and its significance </h2>
                    <ul>
                        <li><a href="/#" title="">Home</a></li>
                        <li><a href="/#" title="">Blog</a></li>
                        <li><span>The History of Indian Street food and its significance </span></li>
                    </ul>
                </div>
                <!--pager-head end-->
            </div>
        </section>
        <!--pager-section end-->

        <section class="sec-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-posts">
                            <div class="blog single">
                                <div class="blog-thumbnail">
                                    <img src="/images/blog3.jpg" alt="" class="w-100">
                                </div>
                                <div class="blog-info">
                                    <ul class="meta">
                                        <li>
                                            <span class="category">recipe</span>
                                        </li>
                                        <li>
                                            <img src="https://via.placeholder.com/65x65" alt="">
                                            <a href="/#" title="">Antonio Refflis</a>
                                        </li>
                                        <li>
                                            <a href="/#" title="">May 15, 2020</a>
                                        </li>
                                    </ul>
                                    <!--meta end-->
                                        <p>
                                        <h3>Pani Puri</h3>
                                        Pani puri is the popular street food in India. It is a favorite chaat snack
                                        of many people in India. Both the spicy and sweet chutney are made
                                        separately to make it mouth watering. Pani puri is the most favorite chaat
                                        among all age. Panipuri is a snack that originated in the India. It is the
                                        most popular street foods in India, Pakistan, Nepal and Bangladesh. Pani is
                                        the water and the Puris are fried puffed crisp dough balls which are hollow.
                                        The pani is sour, tangy and spicy. The spicy pani is made of sweet tamarind
                                        chutney. The sweet chutney is called as Meetha. The spicy water is called as
                                        Teekha. Both are added in the puri. along with the main filling such as
                                        boiled potatoes, cooked chickpeas, moong sprouts or Ragda both flavors are
                                        added in the puri. However if we want a more sweeter taste, we can make the
                                        sweet chutney and serve with the pani puri.
                                        In Delhi it is called as Golgappa. In bengal its called as puchka. In Bihar
                                        and Jharkand its known as gupchup. It allows us to customize it the way we
                                        like it. It is very simple to assemble. We can easily find puffed puri at
                                        any Indian grocery store.
                                        </p>
                                            <img class="blog-img" src="/images/ppuri1.jpg" alt="">                                        
                                        <h3>Ingredients</h3>
                                        <ul class="a">


                                            <li> 2 to 3 medium potatoes</li>
                                            <li> 1 small to medium onion - optional</li>
                                            <li> 1 to 1.5 tablespoon chopped coriander leaves</li>
                                            <li> 1 teaspoon roasted cumin powder</li>
                                            <li> 1 teaspoon chaat masala powder</li>
                                            <li> ¼ teaspoon red chili powder</li>
                                            <li> Black salt or regular salt as per choice</li>
                                        </ul>
                                        <br>
                                        <h3>For Pani Recipe</h3>
                                        <li> ½ cup tightly packed chopped mint leaves</li>
                                        <li> 1 cup tightly packed chopped coriander leaves</li>
                                        <li> 1 inch ginger chopped</li>
                                        <li> 2 to 3 green chilies chopped</li>
                                        <li> 1 tablespoon tightly packed tamarind</li>
                                        <li> 4 tablespoons powdered jaggery or sugar</li>
                                        <li> Add 1.5 tablespoons chopped seedless dates</li>
                                        <li> 1 teaspoon roasted cumin powder</li>
                                        <li> 1 teaspoon chaat masala powder</li>
                                        <li> ⅓ cup water for grinding</li>
                                        <li> 1 to 1.5 tablespoons boondi</li>
                                        <li> Black salt or regular salt as per choice</li>
                                        </ul>

                                        <img class="blog-img" src="/images/ppuri2.jpg" alt="">

                                        <h3>Other Ingredients</h3>
                                        <ul class="a">
                                            <li> 24 to 30 puris, we can buy or make puris at home</li>
                                            <li> 1 small bowl of tamarind chutney</li>
                                        </ul>
                                        <h3>Few suggestions for making pani puri</h3>
                                        The puri or pooris are made from flour or sooji, cream of wheat or rava or
                                        both. These can be brought ready from the grocery stores. For the stuffing,
                                        we can use our choice of fillings. At home we prefer moong sprouts or ragda.
                                        We can also use boiled potatoes and onions. Boiled white or black chickpeas
                                        are used with boiled potatoes. Assemble everything before we begin to make
                                        pani puri.
                                        We can prepare the pani then chill it in the fridge. But remember never add
                                        ice cubes to pani It may dilute the taste and flavor of the pani. To make it
                                        tasty we can add black salt as it gives a really good taste and flavor.
                                        How to make pani puri with moong sprouts
                                        <ul class="a">
                                            <li> Rinse 1 cup tightly packed with coriander leaves</li>
                                            <li> ½ cup tightly packed mint leaves</li>
                                            <li> Add 2 to 3 green chilies</li>
                                            <li> Add 1 inch ginger very well</li>
                                            <li> Peel the ginger and roughly chop it.</li>
                                            <li> Also chop the green chilies.</li>
                                            <li> Chop the coriander leaves and mint leaves.</li>
                                            <li> Add coriander leaves, mint leaves, ginger and green chili in a grinder
                                                to mix it properly.
                                            </li>
                                            <li> For a less spicy pani just add 1 chopped green chilli.</li>
                                            <li> Add 1 tablespoon tightly packed tamarind</li>
                                            <li> Add 4 tablespoons jaggery powder or grated jaggery.</li>
                                            <li> If we do not have tamarind, then we can use 2 tablespoons lemon juice.
                                            </li>
                                            <li> Add 2 tablespoons chopped dates.</li>
                                            <li> Add 1 teaspoon roasted cumin powder</li>
                                            <li> Add 1 teaspoon chaat masala</li>
                                            <li> Add salt as per taste.</li>
                                            <li> Add ⅓ cup water.</li>
                                            <li> Remove the chutney in a bowl.</li>
                                            <li> Cover the pan and refrigerate the pani.</li>
                                            <li> Before refrigerating we can add 1.5 tablespoon boondi.</li>
                                            We can add water depending on the consistency. But do not add too much
                                            water. Then the taste & flavor of the pani will be changed. Also check the
                                            taste and if required we can add some more jaggery or salt. Mix very well.
                                            Making potato filling for pani puri
                                            <li> Boil 2 to 3 medium potatoes.</li>
                                            <li> Then peel and chop them in small cubes.</li>
                                            <li> Add some boiled moong sprouts.</li>
                                            <li> Add some chopped onions.</li>
                                            <li> Add 1.5 tablespoon chopped coriander leaves.</li>
                                            <li> Add ¼ teaspoon red chili powder</li>
                                            <li> Add 1 teaspoon chaat masala</li>
                                            <li> Add 1 teaspoon roasted cumin powder.</li>
                                            <li> Add salt as per taste. Mix very well. Keep aside.</li>
                                            <h3>Making pani puri</h3>
                                            Keep everything ready before we start assembling the pani puri. The potato
                                            filling, pooris and the pani.
                                            <li> Crack the pooris with the spoon or fingers.</li>
                                            <li> Stuff the potato filling in the poori.</li>
                                            <li> Add few teaspoons of sweet chutney as per choice.</li>
                                            <li> Add few teaspoons of the green pani as per choice.</li>
                                            The pani puri is ready to serve. Have it immediately or else the puris
                                            become soggy.
                                        </ul>
                                        <img class="blog-img" src="/images/ppuri3.jpg" alt="">




                                    <blockquote>
                                        <img class="icon-quote" src="/images/icons/icon-quote.svg" alt="">
                                        <p>“It raises my hackles when someone calls something “plain vanilla.” Plain?
                                            Plain?! Are they insane?! There’s nothing plain about vanilla!”</p>
                                        <h4>Luchano Jemenez</h4>
                                    </blockquote>

                                </div>
                                <div class="share-tags d-flex flex-wrap align-items-center">
                                    <div class="share-options">
                                        <h5>Share:</h5>
                                        <ul>
                                            <li><a href="/#" title="">Facebook</a></li>
                                            <li><a href="/#" title="">Twitter</a></li>
                                            <li><a href="/#" title="">Instagram</a></li>
                                        </ul>
                                    </div>
                                    <div class="post-tags">
                                        <ul>
                                            <li><a href="/#" title="">Pastry</a></li>
                                            <li><a href="/#" title="">Desert</a></li>
                                            <li><a href="/#" title="">Recepe</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--blog end-->
                            <div class="blog-author d-flex flex-wrap">
                                <div class="blog-author-thumb">
                                    <img src="https://via.placeholder.com/65x65
" alt="">
                                </div>
                                <div class="blog-author-info">
                                    <h4><a href="/#" title="">Skyler olinpton</a></h4>
                                    <p>Web developer since 2008. Create hundreds of websites, HTML and CSS3 expert, who
                                        started to learn web design on a world-class level.</p>
                                    <ul class="ul-list">
                                        <li><a href="/#" title="">Facebook</a></li>
                                        <li><a href="/#" title="">Twitter</a></li>
                                        <li><a href="/#" title="">Instagram</a></li>
                                    </ul>
                                </div>
                                <!--blog-author-info end-->
                            </div>
                            <!--blog-author end-->
                            <div class="post-controler d-flex flex-wrap">
                                <a href="/#" title="" class="prev">
                                    <span>
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L9.34315 0.928932C8.95262 0.538408 8.31946 0.538408 7.92893 0.928932C7.53841 1.31946 7.53841 1.95262 7.92893 2.34315L13.5858 8L7.92893 13.6569C7.53841 14.0474 7.53841 14.6805 7.92893 15.0711C8.31946 15.4616 8.95262 15.4616 9.34315 15.0711L15.7071 8.70711ZM0 9H15V7H0V9Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                    Prev Post
                                </a>
                                <a href="/#" title="" class="ml-auto next">
                                    Next Post
                                    <span>
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L9.34315 0.928932C8.95262 0.538408 8.31946 0.538408 7.92893 0.928932C7.53841 1.31946 7.53841 1.95262 7.92893 2.34315L13.5858 8L7.92893 13.6569C7.53841 14.0474 7.53841 14.6805 7.92893 15.0711C8.31946 15.4616 8.95262 15.4616 9.34315 15.0711L15.7071 8.70711ZM0 9H15V7H0V9Z"
                                                fill="white" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                            <!--post-controler end-->
                        </div>
                        <!--blog-posts end-->
                        <div class="blog-posts">
                            <h3>Recent posts</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="blog">
                                        <div class="blog-thumbnail">
                                            <img src="https://via.placeholder.com/360x250
" alt="" class="w-100">
                                            <span class="category">recipe</span>
                                        </div>
                                        <div class="blog-info">
                                            <ul class="meta">
                                                <li>
                                                    <img src="https://via.placeholder.com/65x65
" alt="">
                                                    <a href="/#" title="">Antonio Refflis</a>
                                                </li>
                                                <li>
                                                    <a href="/#" title="">May 15, 2020</a>
                                                </li>
                                            </ul>
                                            <h2 class="blog-title"><a href="/blog-single" title="">The Traditional
                                                    recipe of apple pie</a></h2>
                                        </div>
                                    </div>
                                    <!--blog end-->
                                </div>
                                <div class="col-md-6">
                                    <div class="blog">
                                        <div class="blog-thumbnail">
                                            <img src="https://via.placeholder.com/360x250
" alt="" class="w-100">
                                            <span class="category">recipe</span>
                                        </div>
                                        <div class="blog-info">
                                            <ul class="meta">
                                                <li>
                                                    <img src="https://via.placeholder.com/65x65
" alt="">
                                                    <a href="/#" title="">Carlos Bolitti</a>
                                                </li>
                                                <li>
                                                    <a href="/#" title="">May 14, 2020</a>
                                                </li>
                                            </ul>
                                            <h2 class="blog-title"><a href="/blog-single" title="">famous vanilla bean
                                                    cupcakes</a></h2>
                                        </div>
                                    </div>
                                    <!--blog end-->
                                </div>
                            </div>
                        </div>
                        <!--blog-posts end-->
                        <div class="feedback-section comments">
                            <h2>Comments (3)</h2>
                            <ul class="testimonials-list">
                                <li>
                                    <div class="test-monial">
                                        <div class="testi_head">
                                            <ul>
                                                <li>
                                                    <img src="https://via.placeholder.com/65x65
" alt="">
                                                    <span>Malana Gulsberg</span>
                                                </li>
                                                <li>
                                                    May 14, 2020 at 6:54pm
                                                </li>
                                            </ul>
                                        </div>
                                        <p>Quis aliqua sunt nisi consectetur anim ullamco ea. Ut deserunt non voluptate
                                            nisiuis aliqua sunt nisi consectetur anim ullamco easunt nisi consectetur
                                            anim.</p>
                                    </div>
                                    <!--test-monial end-->
                                    <ul>
                                        <li>
                                            <div class="test-monial">
                                                <div class="testi_head">
                                                    <ul>
                                                        <li>
                                                            <img src="https://via.placeholder.com/65x65
" alt="">
                                                            <span>Marta Okland</span>
                                                        </li>
                                                        <li>
                                                            May 14, 2020 at 6:59pm
                                                        </li>
                                                    </ul>
                                                </div>
                                                <p>Quis aliqua sunt nisi consectetur anim ullamco ea. Ut deserunt non
                                                    voluptate nisiuis aliqua sunt nisi consectetur anim ullamco easunt
                                                    nisi consectetur anim.</p>
                                            </div>
                                            <!--test-monial end-->
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="test-monial">
                                        <div class="testi_head">
                                            <ul>
                                                <li>
                                                    <img src="https://via.placeholder.com/65x65
" alt="">
                                                    <span>Rachel Gregorini</span>
                                                </li>
                                                <li>
                                                    May 16, 2020 at 3:22pm
                                                </li>
                                            </ul>
                                        </div>
                                        <p>Quis aliqua sunt nisi consectetur anim ullamco ea. Ut deserunt non voluptate
                                            nisiuis aliqua sunt nisi consectetur anim ullamco easunt nisi consectetur
                                            anim.Quis aliqua sunt nisi consectetur anim ullamco ea. Ut deserunt non
                                            voluptate nisiuis aliqua sunt nisi consectetur anim ullamco easunt nisi
                                            consectetur anim.</p>
                                    </div>
                                    <!--test-monial end-->
                                </li>
                            </ul>
                        </div>
                        <!--comments end-->
                        <div class="contact-us-section v2">
                            <h2>Leave a Reply</h2>
                            <form id="contact-form" method="post" action="#">
                                <div class="response"></div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control name half-radius"
                                                placeholder="Name*">
                                        </div>
                                        <!--form-group end-->
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control email half-radius"
                                                placeholder="Email*">
                                        </div>
                                        <!--form-group end-->
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="website" class="form-control half-radius"
                                                placeholder="Website">
                                        </div>
                                        <!--form-group end-->
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" placeholder="Message"></textarea>
                                        </div>
                                        <!--form-group end-->
                                    </div>
                                    <div class="col-md-12">
                                        <button type="button" id="submit" class="btn-default">Post comment
                                            <span></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--contact-us-section end-->
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="widget widget-search">
                                <form>
                                    <input type="text" name="search" placeholder="Search">
                                    <button type="submit"><img src="/images/icons/search.svg" alt=""></button>
                                </form>
                            </div>
                            <!--widget-search end-->
                            <div class="widget widget-related-posts">
                                <h3 class="widget-title">Related posts</h3>
                                <div class="widget-posts">
                                    <div class="widget-post">
                                        <img src="https://via.placeholder.com/360x250
" alt="" class="w-100">
                                        <h4><a href="/#" title="">the most tasty cake we’ve ever made</a></h4>
                                        <span>Jan 17, 2020</span>
                                    </div>
                                    <!--widget-post end-->
                                    <div class="widget-post">
                                        <img src="https://via.placeholder.com/360x250
" alt="" class="w-100">
                                        <h4><a href="/#" title="">Everyone's favorite grilled salmon steak</a></h4>
                                        <span>Jan 17, 2020</span>
                                    </div>
                                    <!--widget-post end-->
                                </div>
                                <!--widget-posts end-->
                            </div>
                            <!--widget-related-posts end-->
                            <div class="widget widget-categories">
                                <h3 class="widget-title">Categories</h3>
                                <ul>
                                    <li>
                                        <a href="/#" title="">Pastry</a>
                                        <span>(15)</span>
                                    </li>
                                    <li>
                                        <a href="/#" title="">Hot dishes</a>
                                        <span>(18)</span>
                                    </li>
                                    <li>
                                        <a href="/#" title="">Salads</a>
                                        <span>(11)</span>
                                    </li>
                                    <li>
                                        <a href="/#" title="">Fastfood</a>
                                        <span>(5)</span>
                                    </li>
                                    <li>
                                        <a href="/#" title="">News</a>
                                        <span>(21)</span>
                                    </li>
                                </ul>
                            </div>
                            <!--widget-categories end-->
                            <div class="widget widget-newsletter">
                                <h3 class="widget-title">Newsletter</h3>
                                <p>Don’t miss promotions and discounts.</p>
                                <form>
                                    <input type="email" name="email" placeholder="Enter your email" class="half-radius">
                                    <button type="submit" class="btn-default w-100 text-center">Subscribe
                                        <span></span></button>
                                </form>
                                <h4>Subscribe</h4>
                            </div>
                            <!--widget-newsletter end-->
                            <div class="widget widget-tags">
                                <h3 class="widget-title">Tags</h3>
                                <ul>
                                    <li><a href="/#" title="">Fish</a></li>
                                    <li><a href="/#" title="">Grill</a></li>
                                    <li><a href="/#" title="">Beer</a></li>
                                    <li><a href="/#" title="">Chicken</a></li>
                                    <li><a href="/#" title="">Beef</a></li>
                                    <li><a href="/#" title="">Hot</a></li>
                                    <li><a href="/#" title="">Vegetables</a></li>
                                    <li><a href="/#" title="">Chilly</a></li>
                                    <li><a href="/#" title="">Fruits</a></li>
                                </ul>
                            </div>
                            <!--widget-tags end-->
                        </div>
                        <!--sidebar end-->
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="top-footer">
                <div class="fixed-bg bg3"></div>
                <div class="phone-div">
                    <div class="border-circle">
                        <div class="phone-circle">
                            <a href="/#" title="" class="ext-link"></a>
                            <svg width="40" height="40" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18.3333 14.1V16.6C18.3343 16.8321 18.2867 17.0618 18.1937 17.2745C18.1008 17.4871 17.9644 17.678 17.7934 17.8349C17.6224 17.9918 17.4205 18.1113 17.2006 18.1856C16.9808 18.26 16.7478 18.2876 16.5167 18.2667C13.9523 17.9881 11.4891 17.1118 9.32498 15.7084C7.31151 14.4289 5.60443 12.7218 4.32498 10.7084C2.91663 8.53436 2.04019 6.05919 1.76665 3.48336C1.74583 3.25291 1.77321 3.02066 1.84707 2.80138C1.92092 2.5821 2.03963 2.3806 2.19562 2.20971C2.35162 2.03882 2.54149 1.90228 2.75314 1.80879C2.9648 1.7153 3.1936 1.66691 3.42499 1.66669H5.92498C6.32941 1.66271 6.72148 1.80592 7.02812 2.06964C7.33476 2.33335 7.53505 2.69956 7.59165 3.10002C7.69717 3.90008 7.89286 4.68563 8.17498 5.44169C8.2871 5.73996 8.31137 6.06412 8.24491 6.37576C8.17844 6.6874 8.02404 6.97345 7.79998 7.20002L6.74165 8.25836C7.92795 10.3446 9.65536 12.0721 11.7417 13.2584L12.8 12.2C13.0266 11.976 13.3126 11.8216 13.6242 11.7551C13.9359 11.6886 14.26 11.7129 14.5583 11.825C15.3144 12.1071 16.0999 12.3028 16.9 12.4084C17.3048 12.4655 17.6745 12.6694 17.9388 12.9813C18.203 13.2932 18.3435 13.6913 18.3333 14.1Z"
                                    stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget-about">
                                <img src="/images/logo.png" alt="">
                                <h4>Working schedule</h4>
                                <p>Mon - Sat: 9:00 am - 10:00 pm <br /> Sun: 10:00 am - 8:00 pm</p>
                            </div>
                            <!--widget-about end-->
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="widget widget-contact text-center">
                                <h2><span>Call us</span> to make an order!</h2>
                                <p>Don’t be shy, we don’t bite :)</p>
                                <strong>+1 654 847 52 25</strong>
                            </div>
                            <!--widget-contact end-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget-payment">
                                <div class="wid-payment">
                                    <h4>Payment Options</h4>
                                    <img src="/images/imgs.png" alt="">
                                </div>
                                <div class="wid-payment">
                                    <h4>Download the app</h4>
                                    <ul>
                                        <li><a href="/#" title=""><img src="/images/btn1.png" alt=""></a></li>
                                        <li><a href="/#" title=""><img src="/images/btn2.png" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--widget-payment end-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>© All Rights Reserved. DeliTaste 2020</p>
                            </div>
                            <!--copyright end-->
                        </div>
                        <div class="col-lg-6">
                            <div class="find-us text-right">
                                <h5>Find us:</h5>
                                <ul class="social-links-text">
                                    <li><a href="/#" title="">Facebook</a></li>
                                    <li><a href="/#" title="">Twitter</a></li>
                                    <li><a href="/#" title="">Instagram</a></li>
                                </ul>
                            </div>
                            <!--find-us end-->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->

    </div>
    <!--wrapper end-->


    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/lib/slick/slick.js"></script>
    <script src="/js/scripts.js"></script>

</body>

</html>